.container{
    max-width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(22, 44, 68, 0.6);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1{
    margin-bottom: 20px;
    font-size: 40px;
}

h2{
    margin-bottom: 10px;
    font-size: 30px;
}

p{
    margin-bottom: 0px;
    font-size: 20px;
}

img{
    width: 125px;
    height: auto;
    margin-bottom: -20px;
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"]{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    background-color: #356eab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: 1s all ease;
}

button:hover{
    background-color: #4d92ed;    
}